@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Common style */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.section-title{
    font-size:2.8rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}

.section-description{

    font-size:1rem;
    color:rgba(114, 114, 114, 1);


}

.common-button{
    padding:20px 25px;
    border-radius: 8px;
    background-color: #ff8f0e;
    font-size: 1.25rem;
    font-weight: 600;
    color:white;
    border:none;
}

main>section{
    margin-top:130px;
}

.dark1{
    color: rgba(19, 19, 19, 1);
}

.dark2{
    color: rgba(66, 66, 66, 1);
}

.dark3{
    color: rgba(114, 114, 114, 1)
}

.bg-common{
    background-color: rgba(255, 144, 14, 0.1);
}

.width-1440{
    max-width: 1440px;
    margin:0 auto;
}

.display-flex{
    display:flex;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-bold{
    font-weight: bold;
}

.orange{
    color: #ff8f0e
}

/* Navbar Style */

nav{
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    gap:70px;
}

nav a{
    text-decoration: none;
    font-size: 1.125rem;
    color: rgba(66, 66, 66, 1);
}



.brand-name{
    font-size: 2.8rem;
    font-weight: bold;
    
}

/* banner design */

.banner-title{
    font-size: 4rem;
    font-weight: bold;

}

.banner-content{
    max-width: 860px;
    margin:0 auto;
    text-align: center;
}

.banner-description{
    font-size: 1rem;
}

.banner-image{
    width:100%;
    margin-top: 50px;
}



/* Team section design */

.teams{
    justify-content: space-between;
    align-items: center;
}


.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}


.team-content{
    max-width: 537px;

}


/* .team-content-title{
    font-size: 2.8rem;

} */




/* Feature section */

.features{
   gap:140px;
}

#feature-title{
    padding-left: 20px;
    border-left:5px solid #FF900E
}


.feature-card-title{
    font-size:1.2rem;
}

.feature-content{
    max-width: 586px;
}

.feature-card{
    padding:30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}



.feature-image img{
    width:100%;
}

#huge-text{
    font-size: 4rem;
}

#feature-badge{
    margin-left: -54px;
    margin-top: -100px;
}


/* Facts */

.fact-cards{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin-top:100px;
    gap:50px;
    justify-items: center;

}

.section-title p{
    max-width: 542px;
}

.fact-card{
    border:1px solid #FF900E;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:240px;
    text-align: center;
    padding:20px 0px;
}


.fact-card h3{
    font-size: 2.8rem;
    margin:10px 0px;
    font-weight: bold;
}

.fact-card h4{
    font-weight: 600;
    margin:10px 0px;
}

/* Responsive design */

@media screen and (max-width:576px) {
    nav, nav>ul{
        flex-direction: column;
        gap:20px;
    }

    .teams{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: 1fr;
        gap:24px 0px;

    }

    .team-content{
        text-align: center;
    }


    .features{
        flex-direction: column;
        gap:20px;
    }

    #feature-badge{
        margin:10px 0;
    }

    .feature-image{
        text-align: center;
    }

    .fact-cards{
        grid-template-columns: 1fr;
    }
}